.container {
  width: 40vw;
  margin: 30px auto;
  .button-block {
    display: flex;
    justify-content: center;
    width: 100%;
    input {
      display: flex;
      margin-right: 10px;
      width: 50vw;
    }
  }

  .user-container {
    margin-top: 50px;
    .users {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .user-information {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-bottom: 10px;
        .information {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 15vw;
        }
        img {
          margin-right: 10px;
        }
      }
    }
  }
}

.display-none{
  display: none;
}

.friends-information :nth-child(){
 display: none;
}